.contact-btn:link,
.contact-btn:visited,
.contact-btn:hover,
.contact-btn:active,
.cv-btn:link,
.cv-btn:visited,
.cv-btn:hover,
.cv-btn:active {
  text-decoration: none;
  color: #212529;
}

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 1rem 1rem 1rem;
  background-color: #212529;
}

.main-cont {
  flex: 1;
}

.cube-cont {
  /* position: absolute; */
  overflow: hidden;
  right: 0;
  top: 0;
  width: 100vw;
  height: 20vh;
}

.cube-spinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 3rem 3rem 0;
  margin-left: calc(50vw - 3rem);
  margin-top: calc(3rem);
}

.cube-face {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border: 3px solid #dee2e6;
  background-color: #dee2e65d;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem 0 #dee2e6;
}

.cube-icon {
  width: 4rem;
  height: 4rem;
}

.face1 {
  transform: translateZ(3rem);
}

.face2 {
  transform: rotateY(90deg) translateZ(3rem);
}

.face3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(3rem);
}

.face4 {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(3rem);
}

.face5 {
  transform: rotateY(-90deg) translateZ(3rem);
}

.face6 {
  transform: rotateX(-90deg) rotateZ(-90deg) translateZ(3rem);
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    transform: rotateY(90deg);
  }
}

.added-text {
  color: #94d82d;
  font-size: 1rem;
}

.name-text {
  font-size: 4rem;
  color: #dee2e6;
}

.job-text {
  font-size: 4rem;
  color: #dee2e6;
}

.about-text {
  font-size: 1rem;
  color: #94d82d;
  margin-top: 1rem;
}

.call-to-action {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.cv-btn,
.contact-btn {
  background-color: #94d82d;
  color: #212529;
  padding: 0.5rem 1rem;
  margin: 1rem 3rem 0 0;
  border: 3px solid #dee2e6;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.cv-btn:hover,
.contact-btn:hover {
  cursor: pointer;
}

.cv-btn:active,
.contact-btn:active {
  background-color: #212529;
  color: #dee2e6;
}

@media only screen and (min-width: 426px) {
  .main-cont {
    margin-left: 3rem;
  }

  .cube-cont {
    height: 40vh;
  }

  .cube-spinner {
    transform-origin: 5rem 5rem 0;
    margin-left: calc(50vw - 5rem);
    margin-top: calc(5rem);
  }

  .cube-face {
    width: 10rem;
    height: 10rem;
  }

  .cube-icon {
    width: 7rem;
    height: 7rem;
  }

  .face1 {
    transform: translateZ(5rem);
  }

  .face2 {
    transform: rotateY(90deg) translateZ(5rem);
  }

  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(5rem);
  }

  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(5rem);
  }

  .face5 {
    transform: rotateY(-90deg) translateZ(5rem);
  }

  .face6 {
    transform: rotateX(-90deg) rotateZ(-90deg) translateZ(5rem);
  }

  .call-to-action {
    flex-direction: row;
  }
}

@media only screen and (min-width: 769px) {
  .hero-section {
    flex-direction: row;
    padding: 0;
    align-items: center;
  }
  .cube-cont {
    height: 100%;
    width: 40%;
  }

  .cube-spinner {
    transform-origin: 7rem 7rem 0;
    margin-left: calc(50% - 7rem);
    margin-top: calc(50vh - 7rem);
  }

  .cube-face {
    width: 14rem;
    height: 14rem;
  }

  .cube-icon {
    width: 10rem;
    height: 10rem;
  }

  .face1 {
    transform: translateZ(7rem);
  }

  .face2 {
    transform: rotateY(90deg) translateZ(7rem);
  }

  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(7rem);
  }

  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(7rem);
  }

  .face5 {
    transform: rotateY(-90deg) translateZ(7rem);
  }

  .face6 {
    transform: rotateX(-90deg) rotateZ(-90deg) translateZ(7rem);
  }
}

@media only screen and (min-width: 1025px) {
  .main-cont {
    margin-left: 20%;
  }

  .added-text {
    font-size: 2rem;
  }

  .name-text {
    font-size: 5rem;
  }

  .job-text {
    font-size: 5rem;
  }

  .about-text {
    font-size: 1.5rem;
  }

  .cv-btn,
  .contact-btn {
    padding: 0.5rem 2rem;
  }

  .cube-cont {
    width: 40%;
  }
}
