.about-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.about-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #212529;
  border: 3px solid #94d82d;
  border-radius: 1rem;
  width: 90%;
  height: 70vh;
}

.gif-box {
  width: auto;
  border-radius: 1rem;
  padding: 1rem;
}

.gif {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.about-close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.about-close-btn:hover {
  cursor: pointer;
}

.about-project-text {
  color: #dee2e6;
  font-size: 1rem;
  margin: 1rem;
  overflow: auto;
}

.code-btn {
  border: 3px solid #94d82d;
  background-color: #212529;
  color: #94d82d;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  margin: 1rem;
}

@media only screen and (min-width: 426px) {
  .about-box {
    width: 50%;
  }
}

@media only screen and (min-width: 769px) {
  .about-box {
    width: 40%;
  }
}

@media only screen and (min-width: 1025px) {
  .about-box {
    width: 20vw;
    height: 60vh;
  }
}
